{% load static %}
{% load sass_tags %}

<style>
  .employee-box {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .employee-box h6 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .employee-box img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .employee-box p {
    margin-bottom: 5px;
  }
  
  .employee-box .details {
    font-size: 14px;
    color: #6c757d;
  }
</style>

<div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
  <div class="row">
    {% for employee in employees %}
    <div class="col-xl-4 col-md-6 col-sm-12 mb-4">
      <div class="employee-box">
        <h6>{{ employee.name }}</h6>
        <div class="media">
          <img class="img-20 me-1 rounded-circle" src="{% static 'assets/images/user/default.jpg'%}" alt="" data-original-title="" title="">
          <div class="media-body">
            <p>{{ employee.designation }}</p>
          </div>
        </div>
        <p>Email: {{ employee.email }}</p>
        <p>Contact: {{ employee.contact }}</p>
        <div class="row details">
          <div class="col-6"><span>Department: </span></div>
          <div class="col-6">{{ employee.department }}</div>
          <div class="col-6"><span>Workday Start: </span></div>
          <div class="col-6">{{ employee.workday_start_formatted }}</div>
          <div class="col-6"><span>Workday End: </span></div>
          <div class="col-6">{{ employee.workday_end_formatted }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
